<?xml version="1.0" encoding="utf-8"?>
<config>
  <fieldset label="COM_ROUTES_PLANNING" name="routes_planning">

    <field name="record_should" 
		 	     default="0" 
			     type="radio" 
			     class="btn-group btn-group-yesno"  
			     label="Sollerfassung" 
			     description="Sollen Werte erfasst werden?">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
    </field>
    <field name="record_sector_or_building"
           showon="record_should:1"
		 	     default="2" 
			     type="radio" 
			     class="btn-group btn-group-yesno"  
			     label="Erfassung innerhalb" 
			     description="Sollen Werte erfasst werden?">
            <option value="1">Gebbäude</option>
            <option value="2">Sektoren</option>
    </field>
    <field name="record_type"
           showon="record_should:1"
           default="0" 
           type="radio" 
           class="" 
           label="Berechnungsart der Sollerfassung" 
           description="">
              <option value="0">Einzelne Werte pro Routengrad</option>
              <option value="1">Prozentwerte pro Gesamtgrad</option>
    </field>
    <field name="grade_start_percent"
           type="number"
           showon="record_type:1"
           default="3"
           label="SW-Grad Start (UIAA)"
           description="Welcher ist der niedrigste Grad in der Halle?"
           min="3"
           max="7">
    </field>
    <field name="grade_end_percent"
           type="number"
           showon="record_type:1" 
           default="11"
           label="SW-Grad End (UIAA)"
           description="Welcher ist der höchste Grad in der Halle?"
           min="7"
           max="12">
    </field>
    <field name="grade_start_individually" 
           type="list" 
           showon="record_type:0" 
           default="10" 
           label="SW-Grad Start (Conversion)"
           description="Welcher ist der niedrigste Grad in der Halle? 10 entspricht 3.Grad (Die Grade werden Konvertiert)">
            <option value="10">3</option>
            <option value="12">4</option>
            <option value="15">5</option>
            <option value="18">6</option> 
    </field>
    <field name="grade_end_individually" 
           type="list" 
           showon="record_type:0" 
           default="36" 
           label="SW-Grad Ende (Conversion)"
           description="Welcher ist der höchste Grad in der Halle?">
            <option value="29">9</option>
            <option value="32">10</option>
            <option value="35">11</option>
            <option value="36">12</option> 
    </field>   
  </fieldset>

  <fieldset name="permissions" description="JCONFIG_PERMISSIONS_DESC" label="JCONFIG_PERMISSIONS_LABEL">
    <field name="rules" type="rules" component="com_routes_planning" class="inputbox" filter="rules" validate="rules" label="JCONFIG_PERMISSIONS_LABEL" section="component" />
	</fieldset>

   <fieldset label="Datatables" name="datatables">
    <field name="holds_manufacturer" 
		 	   default="0" 
			   type="radio" 
			    class="btn-group btn-group-yesno"  
			   label="Spalte Griffhersteller" 
			   description="">
				<option value="0">JNO</option>
				<option value="1">JYES</option>
        </field>
  </fieldset>

  <fieldset name="component">
        <field name="save_history" type="radio" class="btn-group btn-group-yesno" default="0" label="JGLOBAL_SAVE_HISTORY_OPTIONS_LABEL" description="JGLOBAL_SAVE_HISTORY_OPTIONS_DESC">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field name="history_limit" type="text" filter="integer" label="JGLOBAL_HISTORY_LIMIT_OPTIONS_LABEL" description="JGLOBAL_HISTORY_LIMIT_OPTIONS_DESC" default="5"/>

        <field
          name="integration_sef"
          type="note"
          label="JGLOBAL_SEF_TITLE"
        />

        <field
          name="sef_advanced"
          type="radio"
          class="btn-group btn-group-yesno btn-group-reversed"
          default="0"
          label="JGLOBAL_SEF_ADVANCED_LABEL"
          description="JGLOBAL_SEF_ADVANCED_DESC"
          filter="integer"
          >
          <option value="0">JGLOBAL_SEF_ADVANCED_LEGACY</option>
          <option value="1">JGLOBAL_SEF_ADVANCED_MODERN</option>
        </field>

        <field
          name="sef_ids"
          type="radio"
          class="btn-group btn-group-yesno"
          default="0"
          label="JGLOBAL_SEF_NOIDS_LABEL"
          description="JGLOBAL_SEF_NOIDS_DESC"
          showon="sef_advanced:1"
          filter="integer"
          >
          <option value="1">JYES</option>
          <option value="0">JNO</option>
        </field>
    </fieldset>
</config>
